{% extends 'base.html.twig' %}

{% block title %}Betriebsmittelliste{% endblock %}



{% block body %}

<div>
    {% if(darfSehen) %}
        <h1 style="text-align: center">Betriebsmittel</h1>
    {% endif %}


    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="highlight responsive-table z-depth-5 centered">

        <a href="{{ path('create_betriebsmittel')}}" class="waves-effect waves-light btn addbutton"><i class="material-icons right">add</i>Hinzufügen</a>

        <thead>
        <tr>
            <th>Prüfung notwendig</th>
            <th>ID</th>
            <th>Gerätebezeichnung</th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        {% for objekt in betriebsmittel %}
            <tr>
                <td {% if(  objekt.id % 2 == 0 ) %} style="background-color: red" {% elseif (  objekt.id  == 3 ) %} style="background-color: yellow"  %}  {% endif %}></td>

                <td> {{ objekt.id }}</td>
                <td>{{ objekt.name }}</td>
                <td>
                    <a href="{{ path('delete_betriebsmittel', { 'id':  objekt.id }) }}"> <i style="float: right" class="small material-icons touch">delete</i></a>
                    <a href="{{ path('update_betriebsmittel', { 'id':  objekt.id }) }}"><i style="float: right" class="small material-icons touch">edit</i></a>
                    <a href="{{ path('show_betriebsmittel', { 'id':  objekt.id }) }}"><i style="float: right" class="small material-icons touch">zoom_in</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}
